<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <%#= render '/users/user', user: user %>
      <%= embed_view "_user.html.erb" %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
